body {
  background-color: hsl(233, 47%, 7%);
  font-family: Inter, sans-serif;
}

.card {
  height: 400px;
  max-width: 1440px;
  margin:auto;
  text-align: left;
  background-color: hsl(244, 38%, 16%);
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
}

img {
  float:right;
  width: 50%;
  height: 100%;
  border-radius: 0px 7px 7px 0px;
}

#insights {
  color: hsl(277, 64%, 61%);
}
