body {
  background-color: hsl(233, 47%, 7%);
  font-family: Inter, sans-serif;
}

.card {
  height: 400px;
  max-width: 1240px;
  margin:auto;
  text-align: left;
  background-color: hsl(244, 38%, 16%);
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
}

img {
  filter: inherit;
  filter: opacity(50%);
  float:right;
  width: 50%;
  height: 100%;
  border-radius: 0px 7px 7px 0px;
}

#insights {
  color: hsl(277, 64%, 61%);
}

h1 {
  color: white;
}

#second {
  color: hsla(0, 0%, 100%, 0.75);
}

.numbers {
  color: hsl(0, 0%, 100%);
}

.stats {
  display: grid;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.stats > div {
  color: hsla(0, 0%, 100%, 0.6);
}
.container {
  padding: 50px;
}
